

@media only screen and (min-width:0) and (max-width:400px){
    .maim_footer{
        
        width: 95% !important;
        margin: auto !important;
        flex-direction: column !important;
    }
    .guide_text{
        margin-left: 5px !important;
    }
    
    .text1 {
        margin-left: -60px !important;
    }
    .text2 {
        margin-left: -55px !important;
    }
    .text3 {
        margin-left: -55px !important;
    }
    .text4 {
        margin-left: -55px !important;
    }
}
@media only screen and (min-width:400) and (max-width:800px){
    .maim_footer{
       
        width: 95% !important;
        margin: auto !important;
        
    }
    .guide_text{
        margin-left: 5px !important;
    }
    
    .text1 {
        margin-left: -60px !important;
    }
    .text2 {
        margin-left: -55px !important;
    }
    .text3 {
        margin-left: -55px !important;
    }
    .text4 {
        margin-left: -55px !important;
    }
}